*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 13, 49);
}
.main-container{
    height: 100vh;
    margin: 5rem;
}
.video-head{
    text-align: center;
    font-size: 22px;
    color: white;
}
.video-frame{
    width: 70vw;
    height: 80vh;
}
.video-section{
    max-width: fit-content;
    margin: 4rem auto 0 auto;
}
.other{
    margin: 4rem 0 0 0;
}
.other-head{
    text-align: center;
    color: white;
    font-size: 20px;
}