* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background: rgb(27,27,27);
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    width: 220px;
    height: 400px;
}
